#
# copy this file to .env or .env-dev
#

# production or development
NODE_ENV=development

MYSQL_DB_HOST=
MYSQL_DB_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

PRIVATE_KEY=
INFURA_ACCESS_TOKEN=
